/* @font-face {
  font-family: 'Heading Font Family';
  src: url('../assets/fonts/Font Family.ttf') format('truetype');
}

@font-face {
  font-family: 'Main Font Family';
  src: url('../assets/fonts/Font Family.ttf') format('truetype');
} */
